body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #264653;
}
 
/* Styling for the chat container */
#chatContainer {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    font-size: 14px;
    text-align: left;
}

/* Styling for the document container */
#documentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Styling for the headings */
h2, h3 {
    width: 100%;
    max-width: 1200px;
    background: #2f9794;
    color: #fff;
    margin: 0 auto 10px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

/* Special styling for h3 to match h2 */
h3 {
    background: #89d7d4;
}

/* Styling for the input containers */
#usernameInputContainer, #toggleContainer, #messageInputContainer {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
 
/* Styling for the chat wrapper */
#chatWrapper {
    display: flex;
    margin-top: 20px;
}
 
/* Styling for the chat and userlist */
#status, #userlist {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

#status {
    border-right: 1px solid #ddd;
}
 
/* Styling for the chat message elements */
#status div, #userlist div {
    margin-bottom: 10px;
}

/* Styling for the input fields */
#username, #message {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styling for the buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #a0ecee;
    color: #070000;
    cursor: pointer;
    margin: 5px;
}

button:disabled {
    background: #ccc;
}

button:hover:not(:disabled) {
    background: #07bade;
}

/* Styling for the timestamp */
.timestamp {
    color: #867c7c;
    font-size: 0.9em;
}
 
/* Styling for the sender name */
.sender {
    font-weight: bold;
}

/* Container for shared document */
#sharedDocument {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Content document styling */
#contentDocument {
    width: 100%;
    max-width: 1200px;
    min-height: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
 